body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    position: relative;
    font-size: 17px;
    background-color: #8c9bf0;
    color: #ffffff;
    width: 100%;
    letter-spacing: 1%;
}

.menu{
    display: inline-block;
}

.menu ol{
    display: flex;
    justify-content: center;
}

#containerProfil{
    background: rgba(185, 253, 255, 0.781);
    display: flex;
    justify-content : flex-start;
    align-items : center; 
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#pictureProfil{
    border-radius:50%;
    width:150px;
    height:150px;
}

/*just to space the image of information*/
#descriptionOneself{
}